* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tipografia */
body {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

a {
    color: #777A7E;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container-general {
    display: flex;
}

/* inizio section left */
.section-left {
    flex: 0 0 20px;
    height: calc(100vh - 90px);
    background-color: black;
    color: #6A6A6A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    color: white;
    padding: 20px 20px;
}

.logo .logo-img {
    font-size: 36px;
}

.logo .left-text {
    font-size: 24px;
}

.left-nav li {
    padding: 5px 20px;
}

.left-text {
    display: none;
}

.logo .left-text::after {
    font-size: 10px;
    content: '\00A9';
    position: absolute;
    top: 2;
}

li.left-nav-active a {
    color: white;
    font-weight: 900;
    border-left: 2px solid #ADFF2F;
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -20px;
}

.left-playlist {
    display: none;
}

.left-bottom>div {
    padding: 5px 20px;
}

.left-bottom-username {
    border-top: 1px solid white;
    padding: 7px 0;
}

.left-bottom-username-container a {
    color: white;
}

.left-bottom-username-container a .fa-user {
    background-color: #808080;
    border-radius: 50%;
    padding: 3px 5px;
    margin-right: 5px;
}

/* inizio section right top*/
.section-right {
    flex: 1;
    overflow: hidden;
    background-color: #141922;
    color: white;
    display: flex;
    flex-direction: column;
}

.right-upgrade {
    background-color: #080B12;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 10px;
}

.btn-upgrade {
    border: 1px solid white;
    padding: 8px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

/*
.rigth-nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.rigth-nav-top ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rigth-nav-top ul li {
    padding: 20px 10px;
    text-transform: uppercase;
    font-size: 13px;
}

.rigth-nav-top ul li a {
    position: relative;
}

a.right-nav-top-selected::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 30px;
    height: 2px;
    background-color: #ADFF2F;
}

/* inizio section right main */
main {
    height: calc(100vh - 270px);
    padding: 20px;
}

.main-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

/* inizio player bottom */
.player-bottom {
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
}

@media screen and (min-width:768px) {
    .section-left {
        flex: 0 0 230px;
    }

    .left-text {
        display: inline;
        margin-left: 5px;
    }

    .left-playlist {
        display: block;
        margin-top: 20px;
    }

    .left-playlist li {
        padding: 5px 20px;
    }

    .playlist-title {
        color: white;
        font-weight: 900;
        text-transform: uppercase;
    }

    .playlist-create-new a {
        font-size: 1.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .playlist-create-new a i {
        font-size: 40px;
        margin-right: 10px;
    }
}
