* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tipografia */
body {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

a {
    color: #777A7E;
    text-decoration: none;
}

a:hover,
a:hover i {
    color: white;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container-general {
    display: flex;
}

/* inizio section left */
.section-left {
    flex: 0 0 20px;
    height: calc(100vh - 90px);
    background-color: black;
    color: #6A6A6A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    color: white;
    padding: 20px 20px;
}

.logo .logo-img {
    font-size: 36px;
}

.logo .left-text {
    font-size: 24px;
}

.left-nav li {
    padding: 5px 20px;
}

.left-text {
    display: none;
}

.logo .left-text::after {
    font-size: 10px;
    content: '\00A9';
    position: absolute;
    top: 2;
}

li.left-nav-active a {
    color: white;
    font-weight: 900;
    border-left: 2px solid #ADFF2F;
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -20px;
}

.left-playlist {
    display: none;
}

.left-bottom>div {
    padding: 5px 20px;
}

.left-bottom-username {
    border-top: 1px solid white;
    padding: 7px 0;
}

.left-bottom-username-container a {
    color: white;
}

.left-bottom-username-container a .fa-user {
    background-color: #808080;
    border-radius: 50%;
    padding: 3px 5px;
}

/* inizio section right top*/
.section-right {
    flex: 1;
    overflow: hidden;
    background-color: #141922;
    color: white;
    display: flex;
    flex-direction: column;
}

.right-upgrade {
    background-color: #080B12;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 10px;
}

.btn-upgrade {
    border: 1px solid white;
    padding: 8px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.15s;
}

a .btn-upgrade {
    color: white;
}

.btn-upgrade:hover {
    color: white;
    transform: scale(1.05);
}

.rigth-nav-top ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rigth-nav-top ul li {
    padding: 20px 10px;
    text-transform: uppercase;
    font-size: 13px;
}

.rigth-nav-top ul li a {
    position: relative;
}

a.right-nav-top-selected::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 30px;
    height: 2px;
    background-color: #ADFF2F;
}

/* inizio section right main */
main {
    height: calc(100vh - 270px);
    padding: 20px;
}

.main-content {
    height: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    overflow-y: auto;
    overflow-x: hidden;
}

section {
    margin-top: 10px;
}

section h3 {
    margin: 10px 0;
}

section h4 {
    margin: 5px 0;
    font-size: 14px;
    color: #6D7075;
}

.cards {
    display: flex;
    flex-direction: row;
}

#sec-recently-played .cards {
    justify-content: space-around;
    align-items: space-around;
    flex-wrap: wrap;
}

#sec-created-for .cards {
    justify-content: flex-start;
    align-items: space-around;
    flex-wrap: wrap;
}

#sec-artists .cards {
    justify-content: flex-start;
    align-items: space-around;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    padding: 10px;
    margin: 10px 10px 10px 0;
}

#sec-recently-played .card {
    flex: 1 0 200px;
    max-width: 300px;
}

#sec-created-for .card {
    flex: 1 0 200px;
    max-width: 300px;
}

#sec-artists .card {
    flex: 1 0 200px;
    max-width: 300px;
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    display: none;
}

.card:hover .card-overlay {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-overlay-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.card img,
.card .card-img {
    width: 100%
}

.card-title {
    width: 100%;
}

.card-sub-title {
    width: 100%;
    font-size: 14px;
    color: #6D7075;
}

#sec-artists .cards .card .card-img {
    border-radius: 50%;
}

/* inizio player bottom */
.player-bottom {
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-size: 14px;
}

.player-item {
    flex: 1 0;
}

.player-left {
    flex: 1 0;
    margin: 0 5px;
}

.player-left-song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-left-song-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px;
}

.player-left-song-artist a {
    color: whitesmoke;
    font-weight: bold;
}

.player-left-song-title {
    color: #76797D;
}

.player-left-song-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px;
}

.player-left-song-icons a {
    font-size: 16px;
    color: #76797d;
    margin: 2px 5px;
}

.player-center {
    flex: 4 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.player-center-top {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.player-center-top a i {
    font-size: 16px;
    color: whitesmoke;
    margin-right: 30px;
}

.player-center-top a i.fa-play-circle {
    font-size: 34px;
    transition: 0.1s;
}

.player-center-top a i:hover {
    transform: scale(1.2);
}

.player-center-bottom {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#time-bar {
    width: 60%;
    margin: 0 10px;
}

#time-level {
    width: 40%;
}

.player-right {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5px;
}

.player-right a i {
    font-size: 16px;
    color: whitesmoke;
    margin-right: 10px;
}

.player-right a i:hover {
    transform: scale(1.2);
}

.progress-bar {
    height: 5px;
    border-radius: 2px;
    background-color: #76797d;
}

.progress-bar-level {
    height: 5px;
    border-radius: 2px;
    background-color: #C1C1C1;
    position: relative;
}

.progress-bar:hover .progress-bar-level {
    background-color: #B9F455;
}

.progress-bar:hover .progress-bar-level::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

#volume-bar {
    width: 150px;
    margin-right: 10px;
}

#volume-level {
    width: 20%;
}

@media screen and (min-width:768px) {
    .section-left {
        flex: 0 0 230px;
        align-items: flex-start;
        text-align: left;
    }

    .left-text {
        display: inline;
        margin-left: 5px;
    }

    .left-playlist {
        display: block;
        margin-top: 20px;
    }

    .left-playlist li {
        padding: 5px 20px;
    }

    .playlist-title {
        color: white;
        font-weight: 900;
        text-transform: uppercase;
    }

    .playlist-create-new a {
        font-size: 1.1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .playlist-create-new a i {
        font-size: 40px;
        margin-right: 10px;
    }
}

@media screen and (min-width:992px) {
    #sec-recently-played .cards {
        justify-content: flex-start;
        align-items: space-around;
        flex-wrap: wrap;
    }

    #sec-recently-played .card {
        flex: 0 0 200px;
    }

    .player-left-song-icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
